In [1]:
from get_rate import *

In [2]:
folder_path = r'data/ori_data_after'
# 读取所有CSV文件并将它们合并成一个DataFrame
dfs = []
for file_name in os.listdir(folder_path):
    if file_name.endswith('.csv'):
        file_path = os.path.join(folder_path, file_name)
        df = pd.read_csv(file_path)
        dfs.append(df)

# 合并DataFrame
df = pd.concat(dfs, ignore_index=True)
df

,pairs_id,model_1,model_2,video_url_1,video_url_2,dimension,rating
0,1281,gen2,latte,https://video-generation-result2.s3.ap-northea...,https://video-generation-result2.s3.ap-northea...,1,1
1,1281,gen2,latte,https://video-generation-result2.s3.ap-northea...,https://video-generation-result2.s3.ap-northea...,2,1
2,1281,gen2,latte,https://video-generation-result2.s3.ap-northea...,https://video-generation-result2.s3.ap-northea...,3,1
3,1281,gen2,latte,https://video-generation-result2.s3.ap-northea...,https://video-generation-result2.s3.ap-northea...,4,0
4,1281,gen2,latte,https://video-generation-result2.s3.ap-northea...,https://video-generation-result2.s3.ap-northea...,5,0
...,...,...,...,...,...,...,...
59995,1630,vgen,videocrafter2,https://video-generation-result2.s3.ap-northea...,https://video-generation-result2.s3.ap-northea...,2,1
59996,1630,vgen,videocrafter2,https://video-generation-result2.s3.ap-northea...,https://video-generation-result2.s3.ap-northea...,3,1
59997,1630,vgen,videocrafter2,https://video-generation-result2.s3.ap-northea...,https://video-generation-result2.s3.ap-northea...,4,0
59998,1630,vgen,videocrafter2,https://video-generation-result2.s3.ap-northea...,https://video-generation-result2.s3.ap-northea...,5,0
59999,1630,vgen,videocrafter2,https://video-generation-result2.s3.ap-northea...,https://video-generation-result2.s3.ap-northea...,6,0

In [3]:

# 初始化一个空字典用于存储每个dimension的DataFrame
dimension_dfs = {}


# 根据dimension分组并提取所需列
for dimension, group_df in df.groupby('dimension'):

        comparisons = group_df[['pairs_id', 'model_1', 'model_2', 'rating']].reset_index(drop=True)

        scores_bt, scores_rk = fit_models(comparisons)

        # 获取排名
        # rankings_bt = rank_models(scores_bt)
        rankings_rk = rank_models(scores_rk)


        # 打印结果
        # print(f"Dimension{dimension}: Bradley-Terry Model Rankings:", rankings_bt)
        print(f"Dimension{dimension}: Rao and Kupper Model scores:", scores_rk)

        print(f"Dimension{dimension}: Rao and Kupper Model Rankings:", rankings_rk)

Dimension1: Rao and Kupper Model scores: {'gen2': 3.0197962869711303, 'latte': 0.4486365803912937, 'pika': 0.808972129994003, 'vgen': 0.5361127047810543, 'videocrafter2': 0.44728952034732916}
Dimension1: Rao and Kupper Model Rankings: {'gen2': 1, 'pika': 2, 'vgen': 3, 'latte': 4, 'videocrafter2': 5}
Dimension2: Rao and Kupper Model scores: {'gen2': 2.8940471303082274, 'latte': 0.5997893029158631, 'pika': 1.1838239300835933, 'vgen': 0.7257514230265949, 'videocrafter2': 0.5332377879022521}
Dimension2: Rao and Kupper Model Rankings: {'gen2': 1, 'pika': 2, 'vgen': 3, 'latte': 4, 'videocrafter2': 5}
Dimension3: Rao and Kupper Model scores: {'gen2': 2.753421663822281, 'latte': 0.6232556327126431, 'pika': 1.0972911775840117, 'vgen': 0.6867916992405063, 'videocrafter2': 0.6161772736610786}
Dimension3: Rao and Kupper Model Rankings: {'gen2': 1, 'pika': 2, 'vgen': 3, 'latte': 4, 'videocrafter2': 5}
Dimension4: Rao and Kupper Model scores: {'gen2': 3.277652958128629, 'latte': 1.2684757525375199, 'pika': 0.871032390861397, 'vgen': 0.52846356877706, 'videocrafter2': 0.3927083414654844}
Dimension4: Rao and Kupper Model Rankings: {'gen2': 1, 'latte': 2, 'pika': 3, 'vgen': 4, 'videocrafter2': 5}
Dimension5: Rao and Kupper Model scores: {'gen2': 2.4515887012568354, 'latte': 1.3299447652464789, 'pika': 1.0962177808496043, 'vgen': 0.787364206249826, 'videocrafter2': 0.6614868777965454}
Dimension5: Rao and Kupper Model Rankings: {'gen2': 1, 'latte': 2, 'pika': 3, 'vgen': 4, 'videocrafter2': 5}
Dimension6: Rao and Kupper Model scores: {'gen2': 3.182743486027956, 'latte': 0.5039225948891124, 'pika': 0.8551432819233634, 'vgen': 0.459792216403832, 'videocrafter2': 0.3801075909195944}
Dimension6: Rao and Kupper Model Rankings: {'gen2': 1, 'pika': 2, 'latte': 3, 'vgen': 4, 'videocrafter2': 5}